@{
    ViewBag.Title = "World Map";
}

<table width="100%" border="0" class="cpalmchap" cellpadding="0" cellspacing="0">
<tbody><tr><td valign="bottom" class="cpalmhead"><h1>World Map</h1></td></tr>
<tr><td valign="top" align="left" class="cplinered"><img 
    @*src="http://i.infopls.com/images/03IPChanImg_divarw_red.gif" *@
    src="/images/03IPChanImg_divarw_red.gif" 
    width="25" height="6" border="0" alt=""></td></tr>
<tr>
<td class="cpalmchappad" valign="top">

<div>Click on a region below for a more detailed map, or try our <a href="/atlas/mapindex.html">map index</a>.
<br><br>
<img 
    @*src="http://i.infopls.com/images/03IPatlas_worldmap.gif" *@
    src="/images/03IPatlas_worldmap.gif" 
    width="498" height="281" alt="World Atlas" border="0" usemap="#atlas_worldmap">
</div>
<map name="atlas_worldmap">
  <!-- Arctic Region -->
  <area shape="poly" coords="128,13,156,8,208,4,214,0,292,0,298,4,352,7,380,13,395,19,255,12,110,20" href="thearctic.html" alt="Arctic Region" title="Arctic Region">

<!-- North America -->
  <area shape="poly" coords="223,17,227,19,218,29,217,32,206,35,201,37,197,38,190,46,186,44,183,36,186,28,185,24,180,23,177,24,174,22,164,26,173,32,171,33,175,36,171,39,169,36,168,38,170,40,168,43,162,41,160,39,157,39,156,42,159,42,162,45,160,48,162,49,167,45,168,52,171,55,172,57,169,59,173,62,172,66,168,64,165,64,168,60,158,60,157,61,161,61,157,63,158,66,163,65,163,67,155,70,155,68,151,69,148,71,147,73,143,75,139,79,137,83,128,89,129,97,127,99,125,96,125,92,120,90,116,93,111,92,108,93,105,97,103,105,106,109,111,109,114,105,118,104,116,109,112,110,111,111,109,110,95,110,92,108,93,103,89,97,87,93,86,89,84,89,84,91,88,102,87,102,85,99,82,90,82,86,79,83,78,75,86,64,84,60,85,58,86,55,84,52,84,47,76,45,60,51,38,56,60,48,57,48,59,46,55,45,59,42,68,40,64,39,67,36,73,36,70,34,76,33,83,30,90,30,102,33,112,32,122,34,124,32,124,30,117,30,124,26,133,22,
155,19, 175,17, 202,17, 212,16, 220,16" 
      @*href="northamerica.html" *@
      href="../NorthAmerica/Index" 
      alt="North America" title="North America">
  <area shape="poly" coords="220,34,213,35,211,39,217,43,225,40,225,34" 
      @*href="northamerica.html" *@
      href="../NorthAmerica/Index" 
      alt="North America" title="North America">
   
<!-- Central America -->  
  <area shape="poly" coords="61,110,61,131,111,131,110,126,116,121,122,127,125,127,124,126,125,124, 123,124,121,121,121,117,123,115,121,113,118,113,116,112,116,109,112,110,111,109,110,111" href="centralamerica.html" alt="Central America" title="Central America">
  
<!-- Caribbean --> 
  <area shape="poly" coords="200,94,200,106,151,106,154,110,153,118,147,111,133,110,125,105,119,100,132,101,131,98,138,98,138,94" href="caribbean.html" alt="Caribbean" title="Caribbean">
  
<!-- South America -->  
  <area shape="poly" coords="126,125,128,127,128,133,124,139,123,146,131,158,131,177,141,177,140,183,143,189,141,196,145,214,153,222,161,224,156,219,156,214,154,210,157,200,163,196,161,192,166,191,171,182,170,177,179,177,179,174,183,166,182,160,188,151,182,143,166,138,161,129,157,130,151,122,148,122,144,123,140,119,136,119" href="southamerica.html" alt="South America" title="South America">
  
<!-- Europe -->
  <area shape="poly" coords="266,30,255,32,249,39,243,42,242,48,233,48,236,45,228,51,224,57,230,56,231,60,234,60,231,63,235,67,235,70,226,70,223,78,229,83,237,77,237,74,241,71,247,70,247,76,250,72,255,75,251,78,258,74,266,82,266,75,269,74,273,81,278,81,273,73,271,68,275,65,280,67,285,62,275,57,274,47,271,46" href="europe.html" alt="Europe" title="Europe">
  
<!-- Africa -->  
  <area shape="poly" coords="230,82,224,86,223,91,219,95,212,103,213,110,212,119,224,131,233,129,241,127,241,133,249,134,246,138,254,157,249,165,255,173,255,180,259,186,259,191,268,191,279,184,280,178,283,175,282,168,289,163,290,142,299,135,305,119,296,119,284,102,280,102,280,90,265,86,262,90,255,89,252,86,250,81,238,80" href="africa.html" alt="Africa" title="Africa">
  <area shape="poly" coords="301,154,297,160,294,162,293,168,290,172,293,181,298,181,304,169,307,161" href="africa.html" alt="Africa" title="Africa">
 
<!-- Middle East -->
  <area shape="poly" coords="280,81,280,101,284,101,296,117,309,110,317,103,316,100,321,100,322,81,309,79,304,81,300,78,293,81" href="middleeast.html" alt="Middle East" title="Middle East">
  
<!-- Asia -->
  <area shape="poly" coords="267,31,283,34,294,32,290,29,292,24,301,24,294,28,301,32,305,27,313,28,329,22,318,18,343,23,341,28,358,27,364,30,373,28,366,24,380,25,375,26,377,29,387,30,395,29,402,32,413,31,437,39,426,38,432,42,425,45,420,44,424,51,423,61,415,52,416,42,409,42,410,46,396,47,395,52,402,55,410,61,414,69,420,67,415,73,418,82,408,87,405,97,399,102,403,116,405,118,408,125,399,132,404,136,412,134,418,139,421,143,428,140,429,150,420,148,405,154,378,148,367,129,375,135,368,112,365,113,360,102,354,104,344,114,345,122,347,127,343,124,341,125,333,104,330,105,326,99,321,99,321,81,314,81,310,78,306,79,303,73,299,69,300,65,295,67,297,72,299,75,293,77,292,81,277,81,273,72,279,71,288,74,292,71,279,67,286,62,275,56,275,48,271,44" href="asia.html" alt="Asia" title="Asia">
  
<!-- Pacific Islands -->
  <area shape="poly" coords="429,142,429,151,431,152,433,151,440,155,460,174,482,166,492,157,480,117,480,98,431,98,431,118,421,127" href="pacificislandsandaustralia.html" alt="Pacific Islands" title="Pacific Islands">
  
<!-- Australia --> 
  <area shape="poly" coords="385,171,385,181,388,184,385,192,392,192,398,190,407,187,414,193,418,198,418,206,439,185,438,183,442,182,442,171,435,167,433,160,432,154,428,164,423,162,423,157,414,155,413,161,407,159,398,169,396,171" href="/atlas/country/australia.html" alt="Australia" title="Australia">
  
<!-- New Zealand -->    
  <area shape="poly" coords="418,226,491,226,491,214,460,214,457,211,466,200,463,190,458,190,457,196,439,205,439,212,442,214,418,214" href="/atlas/country/newzealand.html" alt="New Zealand" title="New Zealand">
  
<!-- Antarctica -->  
  <area shape="poly" coords="124,262,92,253,105,252,122,249,143,250,140,247,164,248,176,233,177,242,181,250,200,254,222,248,225,245,264,244,274,242,278,244,294,238,309,241,305,246,324,239,341,237,344,241,378,239,404,247,389,253,407,253,384,262" href="antarctica.html" alt="Antarctica" title="Antarctica">
</map></td>
</tr>
</tbody></table>
