<div id="home">
    <div id="containerSecondHold">
        <div id="containerSecond">
            <section id="headerSecond">
                <section id="headerSmall"><a href="../#home"><div id="logoSmall"><img src="../images/logo_small.gif" alt="Beurre &amp; Sel" width="43" height="47" /></div></a>
                    <ul>
                        <li>
                            <a href="#story" class="story selected">STORY</a><br>
                            <a href="../#cookies" class="cookies">COOKIES</a>

                        </li>
                        <li> <!--<a href="../#accessories" class="accessories">ACCESSORIES</a><br>-->
                            <a href="../#catering" class="catering">CATERING</a><!--</li>
                            <li><a href="../#specialites" class="specialites">SPECIALITES</a>--><br>
                            <a href="../gallery" class="gallery">GALLERY</a>
                        </li>
                        <li> <a href="../#press" class="press">PRESS</a><br>
                            <a href="../#contact" class="contact">CONTACT</a>
                        </li>
                    </ul>
                </section>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#containerSecondHold").css('margin-top', 0);
    });
</script>
<link href="~/Content/beurreandsel_story.css" rel="stylesheet" />
