<div id="home">
    <div id="containerSecondHold">
        <div id="containerSecond">
            <section id="headerSecond">
                <section id="headerSmall"><a href="../#home"><div id="logoSmall"><img src="../images/logo_small.gif" alt="Beurre &amp; Sel" width="43" height="47" /></div></a></section>
            </section>
        </div>
    </div>
</div>