<div id="home">
    <div id="menu">
        <div id="container">
            <section id="header">
                <section id="headerLarge">
                    <div id="logoLarge" class="headerView">
                        <img width="284" height="87" src="../images/logo_large.gif" />
                    </div>
                    <div id="newyork" class="headerView">NEW YORK, NY</div>
                    <ul class="headerView">
                        <li>
                            <a class="story" href="story">STORY</a>
                        </li>
                    </ul>
                </section>
            </section>
        </div>
    </div>
    <section id="story">
        @*<div id="storyHolder" style="opacity: 0;">        
            <span class="storyIntro">
                Sophisticated Cookies,
                <br />
                Simple Happiness.
            </span>
            <span id="storyColumn1">Beurre & Sel is built on memories of a mother and son baking cookies together. Our cookies are beautifully crafted, unusually delicious and</span>
            <span id="storyColumn2">handmade from the beloved recipes of Dorie Greenspan, mom, baker, cookbook author and four-times James Beard Award-winner.</span>
        </div>*@
        <div class="backstretch">            
        </div>
    </section>
</div>


<script type="text/javascript" lang="javascript">        
    $(document).ready(function () {
        //$.backstretch("../images/backgrounds/backgrounds_doriegreenspan.jpg");
        //$("#story").backstretch("../images/backgrounds/backgrounds_doriegreenspan.jpg");
        $("#story").backstretch(["../images/backgrounds/backgrounds_doriegreenspan.jpg",
            "../images/backgrounds/backgrounds_cookie_02.jpg",
            "../images/backgrounds/backgrounds_cookie_03.jpg",
            "../images/backgrounds/backgrounds_cookie_04.jpg",
            "../images/backgrounds/backgrounds_cookie_05.jpg"],
        { fade: 750, duration: 9000 });
    });
</script>