<div id="home">
    <div id="menu">
        <div id="container">
            <section id="header">
                <section id="headerLarge">
                    <div id="logoLarge" class="headerView">
                        <img width="284" height="87" src="../images/logo_large.gif" />
                    </div>                    
                </section>
            </section>
        </div>
    </div>
    <section id="story">
        <div class="backstretch">
            <img />
        </div>
    </section>
</div>


<script type="text/javascript" lang="javascript">        
    $(document).ready(function () {
        //$.backstretch("../images/backgrounds/backgrounds_doriegreenspan.jpg");
        //$("#story").backstretch("../images/backgrounds/backgrounds_doriegreenspan.jpg");
        $("#story").backstretch(["../images/backgrounds/backgrounds_doriegreenspan.jpg",
            "../images/backgrounds/backgrounds_cookie_02.jpg",
            "../images/backgrounds/backgrounds_cookie_03.jpg",
            "../images/backgrounds/backgrounds_cookie_04.jpg",
            "../images/backgrounds/backgrounds_cookie_05.jpg"],
        { fade: 750, duration: 9000 });
    });
</script>